@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-custom-green: var(--custom-green);
  --color-custom-purple: var(--custom-purple);
  --color-custom-gray: var(--custom-gray);
}

:root {
  --custom-green: oklch(0.8572 0.2069 125.16);
  --custom-purple: #8051db;
  --custom-gray: #525252;
  --radius: 0;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: var(--custom-green);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --custom-green: oklch(0.8572 0.2069 125.16);
  --custom-purple: #6f4cd7;
  --custom-gray: #525252;
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: var(--custom-green);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground text-xl md:text-2xl;
  }

  h2 {
    @apply font-bold text-3xl lg:text-6xl;
  }

  h3 {
    @apply font-bold text-2xl lg:text-4xl;
  }
}

@font-face {
  font-family: "Shapiro";
  src: url("../public/fonts/Shapiro-45WelterText.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Shapiro";
  src: url("../public/fonts/Shapiro-75HeavyExtd.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Shapiro";
  src: url("../public/fonts/Shapiro-105MaxExtd.woff") format("woff");
  font-weight: 800;
}

html {
  font-family: Shapiro;
  @apply snap-y snap-mandatory scroll-smooth;
}

.text-outline-custom-green {
  text-shadow:
    2px 0 0 var(--color-custom-green),
    -2px 0 0 var(--color-custom-green),
    0 2px 0 var(--color-custom-green),
    0 -2px 0 var(--color-custom-green),
    2px 2px 0 var(--color-custom-green),
    -2px -2px 0 var(--color-custom-green),
    2px -2px 0 var(--color-custom-green),
    -2px 2px 0 var(--color-custom-green);
  -webkit-text-stroke: 2px var(--color-custom-green);
}

.text-outline-custom-purple {
  text-shadow:
    2px 0 0 var(--color-custom-purple),
    -2px 0 0 var(--color-custom-purple),
    0 2px 0 var(--color-custom-purple),
    0 -2px 0 var(--color-custom-purple),
    2px 2px 0 var(--color-custom-purple),
    -2px -2px 0 var(--color-custom-purple),
    2px -2px 0 var(--color-custom-purple),
    -2px 2px 0 var(--color-custom-purple);
  -webkit-text-stroke: 2px var(--color-custom-purple);
}

.text-outline-custom-gray {
  text-shadow:
    2px 0 0 var(--color-custom-gray),
    -2px 0 0 var(--color-custom-gray),
    0 2px 0 var(--color-custom-gray),
    0 -2px 0 var(--color-custom-gray),
    2px 2px 0 var(--color-custom-gray),
    -2px -2px 0 var(--color-custom-gray),
    2px -2px 0 var(--color-custom-gray),
    -2px 2px 0 var(--color-custom-gray);
  -webkit-text-stroke: 2px var(--color-custom-gray);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes glitch-burst {
  0% {
    clip-path: inset(50% 50% 50% 50%);
    transform: translate(0, 0) skew(0deg);
    opacity: 0;
  }
  1% {
    clip-path: inset(10% 0 30% 0);
    transform: translate(-5px, 2px) skew(15deg);
    opacity: 1;
  }
  2% {
    clip-path: inset(60% 0 10% 0);
    transform: translate(5px, -2px) skew(-15deg);
    opacity: 1;
  }
  3% {
    clip-path: inset(20% 0 50% 0);
    transform: translate(-3px, 3px) skew(10deg);
    opacity: 1;
  }
  4% {
    clip-path: inset(40% 0 20% 0);
    transform: translate(3px, -3px) skew(-10deg);
    opacity: 1;
  }
  5%,
  80% {
    clip-path: inset(50% 50% 50% 50%);
    transform: translate(0, 0) skew(0deg);
    opacity: 0;
  }
  81% {
    clip-path: inset(10% 0 30% 0);
    transform: translate(-5px, 2px) skew(15deg);
    opacity: 1;
  }
  82% {
    clip-path: inset(60% 0 10% 0);
    transform: translate(5px, -2px) skew(-15deg);
    opacity: 1;
  }
  83% {
    clip-path: inset(20% 0 50% 0);
    transform: translate(-3px, 3px) skew(10deg);
    opacity: 1;
  }
  84% {
    clip-path: inset(40% 0 20% 0);
    transform: translate(3px, -3px) skew(-10deg);
    opacity: 1;
  }
  85%,
  100% {
    clip-path: inset(50% 50% 50% 50%);
    transform: translate(0, 0) skew(0deg);
    opacity: 0;
  }
}

@keyframes glitch-burst-2 {
  0% {
    clip-path: inset(50% 50% 50% 50%);
    transform: translate(0, 0) skew(0deg);
    opacity: 0;
  }
  2% {
    clip-path: inset(20% 0 60% 0);
    transform: translate(5px, 2px) skew(-15deg);
    opacity: 1;
  }
  3% {
    clip-path: inset(70% 0 5% 0);
    transform: translate(-5px, -2px) skew(15deg);
    opacity: 1;
  }
  4% {
    clip-path: inset(10% 0 70% 0);
    transform: translate(3px, 3px) skew(-10deg);
    opacity: 1;
  }
  5% {
    clip-path: inset(50% 0 20% 0);
    transform: translate(-3px, -3px) skew(10deg);
    opacity: 1;
  }
  6%,
  82% {
    clip-path: inset(50% 50% 50% 50%);
    transform: translate(0, 0) skew(0deg);
    opacity: 0;
  }
  83% {
    clip-path: inset(20% 0 60% 0);
    transform: translate(5px, 2px) skew(-15deg);
    opacity: 1;
  }
  84% {
    clip-path: inset(70% 0 5% 0);
    transform: translate(-5px, -2px) skew(15deg);
    opacity: 1;
  }
  85% {
    clip-path: inset(10% 0 70% 0);
    transform: translate(3px, 3px) skew(-10deg);
    opacity: 1;
  }
  86% {
    clip-path: inset(50% 0 20% 0);
    transform: translate(-3px, -3px) skew(10deg);
    opacity: 1;
  }
  87%,
  100% {
    clip-path: inset(50% 50% 50% 50%);
    transform: translate(0, 0) skew(0deg);
    opacity: 0;
  }
}

.cyber-glitch {
  position: relative;
  display: inline-block;
}

.cyber-glitch::before,
.cyber-glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 0;
}

.cyber-glitch::before {
  text-shadow: -2px 0 var(--custom-purple);
  animation: glitch-burst 4s infinite linear;
}

.cyber-glitch::after {
  text-shadow: -2px 0 var(--custom-green);
  animation: glitch-burst-2 4s infinite linear;
}
